/* login.css */

#PagLogin {
    display: flex;
    justify-content: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
}

.formulario { 
    width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ddd;
}

.formulario label {
    display: block;
    margin-bottom: 10px;
}

.formulario input[type="email"],
.formulario input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.formulario button {
    background-color: #006C9A;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #00a0d5;
}