/* Centralizar os itens no centro da página */
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
}

/* Estilizando a parte "div" mais externa */
#login .formulario{
    width: 100%;
    background-color: #f1f1f1;
    max-width: 480px;
    padding: 0.5rem;
}

/* "label" "pula" de linha */
#login .campo label {
    display: block;
}

/* "input" vai ocupar todo o espaço da "div" mais externa */
#login .campo input{
    width: 100%;
}

/* Centralizar o botão */
#login .botao{
    text-align: center;
    margin-top: 0.5rem;
}